# Fixed Variables;
kbCtl="$(which kubectl)";
vKubeConfig=${KUBE_CONF};
vPX_Operator_File=./px-operator.yml;
vPX_Storage_Cluster_File=./storage-cluster.yml;

# Specify the device for KVDB. If it is set to 'auto', the smallest blank drive available on each node will be used as kvdb device.
# If you leave it blank, the kvdb will share the px storage.
PX_KVDB_DEVICE="auto"
